

/* LARGER PHONES PHONES & SMALL TABLETS */

@media (min-width: 769px) and (max-width: 1025px) {

  /* navbar adjustments */
  .nav-icon {
  display: block;
  margin-right: auto;
  width:50px;
  flex-shrink: 0;
}

  .nav-logo {
    position: static;
    transform: none;
    margin-right: auto;
  }

  #navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #000;
  padding: 5px 10px;
  position: relative;
  gap: 12px;
}

  #navbar a {
    font-size: 125%;
    padding: 6px;
  }

  .navbar-phrase {
    display: none;
  }

  .signup-nav-button {
    display: none;
  }
  
  .coming-soon-phrase {
  display: block;
  color: black;
  font-size: 200%;
  letter-spacing: 1px;
  line-height: 40px;
  text-align: left;
  position: absolute;
  top: 10%;
  left: 40%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  text-shadow: 0px 0px 5px white;

  }
	  
	  
  .mobile-phrase {
  display: block;
  color: black;
  font-size: 200%;
  letter-spacing: 1px;
  line-height: 40px;
  text-align: left;
  position: absolute;
  top: 55%;
  left: 40%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  text-shadow: 0px 0px 5px white;
  }
  
  .phrase {
	  display: none;
  }

.bglogo {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1025px;
  height: auto;
  opacity: 0.85;
  z-index: 2;
  display: block;
}

.signup-mobile-button {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000;
  color: #ffffff!important;
  padding: 16px 32px;
  border-radius: 12px;
  text-decoration: none;
  font-weight: 600;
  font-size: 120%;
  margin-right: 12px;
  transition: background-color 0.2s ease, transform 0.2s ease;
  z-index: 10;
}

.bgimages img {
	width: 100%;
	height: auto;
	object-fit: contain;
	position: relative;
	z-index: 1;
}

/* HOME PAGE SOCIAL MEDIA */
.social-media-container {
  display: flex;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000000!important;
  font-weight: 600;
  font-size: 100%;
  margin-right: 12px;
  transition: background-color 0.2s ease, transform 0.2s ease;
  z-index: 10;
}
  
.social-media-container img {
  width: 40px;
}

/* OTHER PAGES SOCIAL MEDIA */
.other-social-media-container {
  display: flex;
  justify-content: center;
  color: #000000!important;
  font-weight: 600;
  font-size: 100%;
  margin-right: 12px;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

  
.other-social-media-container img {
  width: 40px;
}

#wrapper {
	max-width: 1025px;
	width: 100%;
	margin: 0 auto;
    padding: 16px;
    box-sizing: border-box;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: visible!important;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 0px;
}

footer pre {
	display: none;
}

.footer-mobile {
  text-align: center;
  color: black;
  margin-bottom: 30px;
  position: relative;
  z-index: 10;
  display: flex;
  text-align: center;
}

}




