#wrapper {
	margin: 0 auto;
	width: 70%;
	background-color: #fffefb;
	
}
#right-column {
	float: right;
	width: 50%;
	
}
#left-column {
	float: left;
	width:50%;
}

#column-services-left {
	float: left;
	width:20%;
}

#column-services-right {
	float: left;
	width:80%;
}
.float-right {
	float: right;
}
.float-left {
	float: left;
}
.float-center {
	align-items: center;
}

#logo {
	float: none;
	width: 100%;
	text-align: center; 
}


body {
background-color: #fffefb;
}

header { font-family: 'Belanosima', serif;
font-size: 550%;
color: #000000;
margin-bottom: 5px;
margin-top: 5px;
}

p { 
font-family: "Montserrat", sans-serif;
  /* font-optical-sizing: auto; */
  font-weight: 400;
  font-style: normal;
  color: #000000;
  font-size: 120%;
 /* text-align: center; */
}

h1 {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 400%;
  text-align: center;
  text-shadow: 0px 0px 1px #000000;
}

h2 {	                                  /* use this for medium header that floats left */
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 250%;
  text-align: left;
  text-shadow: 0px 0px 1px #000000;
}


h3 {                                
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 200%;
  text-align: center;
  text-shadow: 0px 0px 1px #000000;
}

h4 {
font-family: "Montserrat", sans-serif;
  /* font-optical-sizing: auto; */
  font-weight: 400;
  font-style: normal;
  color: #000000;
  font-size: 100%;	
}

h6 {	                                 /* just using this one for centering images */
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 250%;
  text-align: center;
  text-shadow: 0px 0px 1px #000000;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  }

footer {
font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  font-size: 80%;
 }

pre {
}

.homepageDiv {
	
	
	display: block;
	margin-left: auto;
	margin-right: auto;
	
	
}

a { text-decoration: none; color:#595281; }
a:visited /* unspecified */
a:focus { color: #8000000; }
a:hover { color: #9b8fdf; cursor: pointer;}
a:active { color: #000000; }
a:link /* unspecified */

li a {display: block;
list-style-type: none;
text-decoration: none; }


/* Blinking Text */
.blink_me {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}


/* Styling for Days/Hours Table */

table {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  font-size: 120%;
  border-collapse: collapse;
  width: 60%;
}

td, th {
  border: 0px solid #ffffff;
  text-align: left;
  padding: 4px;
}

tr:nth-child(even) {
  background-color: #ffffff;
}

.button {
  border: none;
  color: black;
  padding: 0px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0px 0px; 
  cursor: pointer;
  background-color: green;
  border-radius: 12px;
  font-size: 95%;
}

.button:hover
{background-color: purple; color: #000000;}