/* Style the navbar */
#navbar {
 /*  overflow: hidden;  */
  background-color: #000000;   /*this was that yellow shit*/
  text-align: center;
  list-style-type: none;
  height: 50px;

}



/* Navbar links */
#navbar a {
  float: none;
  display: inline-block;
  color: #000000;
  text-align: center; 
  padding: 8px;
  text-decoration: none;
  
/* DO I NEED TO ADD FONT SIZE? */
  
/* font-family: "Didact Gothic", serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  font-size: 150%; */
  
  
  
  font-family: "Montserrat", sans-serif;
  /* font-optical-sizing: auto; */
  font-weight: 400;
  font-style: normal;
  color: #fffefb;
  font-size: 150%;
  text-align: center;

  
}
}


/* Page content */
.content {
  padding: 14px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}
