/* Style the navbar */
#navbar {
  /*overflow: hidden;*/
  background-color: #FFF836;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 8px;
  text-decoration: none;
font-family: 'Crimson Text', serif;
font-size: 175%;
color: #000000;

}

/* Page content */
.content {
  padding: 14px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}