/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #000000;
  text-align: center;
  list-style-type: none;
  height: 50px;
  width: 100%
  
}



/* Navbar links */
#navbar a {
  float: right;
  display: inline-block;
  color: #000000;
  text-align: center; 
  padding: 8px;
  text-decoration: none;
  
  font-family: "Montserrat", sans-serif;
  /* font-optical-sizing: auto; */
  font-weight: 400;
  font-style: normal;
  color: #fffefb;
  font-size: 135%;                                             /* changing the font size would technically fix the issue with the icons */
}



/* Page content */
.content {
  padding: 0px;                    /* not sure if i need this, it was 14px */
  display: flex;
 /* align-items: center;
  vertical-align: middle;
  margin-top: 0px; */
  flex-direction: row;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}
